absl-py==1.0.0
addict==2.4.0
aiofiles==0.7.0
alembic==1.7.6
altair==4.2.0
anyio==3.2.1
argon2-cffi==20.1.0
asgiref==3.4.1
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
attrs==21.2.0
autopage==0.5.0
backcall==0.2.0
backports.entry-points-selectable==1.1.0
base58==2.1.1
beautifulsoup4==4.9.3
bleach==3.3.0
blinker==1.4
blis==0.7.7
bokeh==2.3.3
branca==0.4.2
bs4==0.0.1
cachetools==5.0.0
catalogue==2.0.7
catboost==1.0.4
category-encoders==2.4.0
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
click==8.0.1
cliff==3.10.1
cloudpickle==2.0.0
cmaes==0.8.2
cmd2==2.4.0
colorama==0.4.4
colorlog==6.6.0
colorlover==0.3.0
cufflinks==0.17.3
cycler==0.10.0
cymem==2.0.6
Cython==0.29.23
debugpy==1.3.0
decorator==5.0.9
defusedxml==0.7.1
demjson==2.2.4
distlib==0.3.2
docopt==0.6.2
docutils==0.17.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
entrypoints==0.3
et-xmlfile==1.1.0
filelock==3.0.12
Flask==2.0.1
flatbuffers==2.0
folium==0.12.1
fuzzywuzzy==0.18.0
gast==0.5.3
gensim==4.1.2
geographiclib==1.52
geopy==2.1.0
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.6.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.19.1
greenlet==1.1.2
grpcio==1.44.0
gunicorn==20.1.0
h11==0.12.0
h5py==3.6.0
httpcore==0.13.6
httpx==0.18.2
idna==2.10
imbalanced-learn==0.9.0
imblearn==0.0
importlib-metadata==4.11.3
install==1.3.5
ipykernel==6.0.1
ipython==7.25.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
justpy==0.1.5
keras==2.8.0
Keras-Preprocessing==1.1.2
keras-tuner==1.1.2
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
kiwisolver==1.3.1
kt-legacy==1.0.4
langcodes==3.3.0
libclang==13.0.0
llvmlite==0.38.0
lxml==4.6.3
Mako==1.2.0
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
mistune==0.8.4
murmurhash==1.0.6
mysql-connector==2.2.9
mysql-connector-python==8.0.25
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
nltk==3.6.7
notebook==6.4.0
numba==0.55.1
numpy==1.21.0
oauthlib==3.2.0
opencv-python==4.5.2.54
openpyxl==3.0.7
opt-einsum==3.3.0
optuna==2.10.0
packaging==21.0
pandas==1.3.0
pandas-datareader==0.10.0
pandocfilters==1.4.3
parso==0.8.2
pathy==0.6.1
patsy==0.5.2
pbr==5.8.1
pickleshare==0.7.5
Pillow==8.3.1
pipreqs==0.4.11
platformdirs==2.0.2
plotly==5.3.1
preshed==3.0.6
prettytable==3.2.0
prometheus-client==0.11.0
prompt-toolkit==3.0.19
protobuf==3.17.3
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.8.2
pydeck==0.7.1
Pygments==2.9.0
Pympler==1.0.1
pyodbc==4.0.32
pyparsing==2.4.7
pyperclip==1.8.2
pypiwin32==223
pyreadline3==3.4.1
pyrsistent==0.18.0
python-dateutil==2.8.1
python-tds==1.11.0
pytz==2021.1
pytz-deprecation-shim==0.1.0.post0
pywin32==301
pywinpty==1.1.3
PyYAML==5.4.1
pyzmq==22.1.0
qtconsole==5.1.1
QtPy==1.9.0
regex==2021.11.10
requests==2.25.1
requests-oauthlib==1.3.1
rfc3986==1.5.0
rsa==4.8
scikit-learn==1.0.2
scipy==1.7.1
seaborn==0.11.2
semver==2.13.0
Send2Trash==1.7.1
shap==0.40.0
six==1.16.0
slicer==0.0.7
smart-open==5.2.1
smmap==5.0.0
sniffio==1.2.0
soupsieve==2.2.1
spacy==3.2.3
spacy-legacy==3.0.9
spacy-loggers==1.0.1
SQLAlchemy==1.4.32
srsly==2.4.2
starlette==0.16.0
statsmodels==0.13.1
stevedore==3.5.0
streamlit==1.7.0
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
terminado==0.10.1
testpath==0.5.0
textblob==0.17.1
tf-estimator-nightly==2.8.0.dev2021122109
thinc==8.0.15
threadpoolctl==2.2.0
toml==0.10.2
toolz==0.11.2
tornado==6.1
tqdm==4.62.3
traitlets==5.0.5
typer==0.4.0
typing-extensions==3.10.0.0
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.6
uvicorn==0.14.0
validators==0.18.2
virtualenv==20.6.0
wasabi==0.9.0
watchdog==2.1.6
wcwidth==0.2.5
webencodings==0.5.1
websockets==9.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
wrapt==1.14.0
xgboost==1.5.1
xlrd==2.0.1
yarg==0.1.9
zipp==3.7.0
